torch>=2.0.0
triton>=2.0.0
datasets==2.19.2
pyarrow>=15.0.0
# Removed flash-attn for now.
# flash-attn>=2.5.6 --install-option='--no-build-isolation'
pyvene @ git+https://github.com/it-dainb/pyvene.git
transformers==4.42.4
huggingface-hub==0.23.5
numpy>=1.24.3
accelerate==0.32.1
sentencepiece==0.2.0
evaluate==0.4.2
datasets==2.19.2
scikit-learn==1.2.2
